body > .container {
    padding-top: 105px;
}

.fa-btn {
    margin-right: 6px;
}

.spacer {
    padding: 10px;
}

.search-box.hidden-mw input {
    max-width: 0px;
    padding: 0px;
    border: none;
}

.search-box {
    display: inline;
}

.search-box input {
    border: none;
    border-bottom: 1px solid #777;
    padding-left: 5px;
    height: 20px;
    outline: none;
    width: 100%;
    max-width: calc(100% - 50px);
    transition: max-width .2s ease-out;
}

.left-menu .search-box input {
    position: absolute;
    height: 65%;
    margin-left: 10px;
}